/* .poz-b-l{
    position: absolute;
    left: 0;
    bottom: 0;
}
.poz-t-r{
	position: absolute;
	right: 0;
	top: 0;
}
.square{
	width: 120px;
	height: 120px;
}
.square-red{
	background-color: red;
	z-index: -1;
}
.e-room-container{
	padding: 20px;
}
.e-room-shape{
	z-index: -1;
}
.e-pg-content{
	column-count: 2;
}
.e-room-content{
	padding: 62px 0px;
}

.img-video-shape {
	z-index: -1;
}

.video-container {
	max-width: 840px;
	margin: 0 auto;
	padding: 64px;
	position: relative;
}

.video {
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	width: 100%;
}

.video-iframe {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.event-title{
    color: #EE1F1F;
    text-align: center;
    font-weight: 400;
    margin: 20px 0;
    font-size: 28px;
}
.event-content{
	text-align: center;
	color: #303030;
}
.event-date{
    margin: 0 auto;
    padding: 20px 0px;
    max-width: 600px;
    min-height: 200px;
}
.hr{
	border: 1px solid #95989A;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 32px;
	max-width: 70%;
} */
/* .slick-prev{
	position: absolute;
	top: 25%;
	left: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 30px;
	background-image: url('../images/preview-videos.png');
	background-color: #fff;
	border: none;
	width: 50px;
	height: 50px;
	text-indent: -999999px;
	z-index: 9999;
	outline: 0;
}
.slick-next{
	position: absolute;
	top: 25%;
	right: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 30px;
	background-image: url('../images/next-videos.png');
	background-color: #fff;
	border: none;
	width: 50px;
	height: 50px;
	text-indent: -999999px;
	z-index: 9999;
	background-color: #fff;
	border: none;
	outline: 0;
}
.e-event-videos{
	padding-bottom: 64px;
}
.video-item{
	outline: 0;
}
.slick-dots{
	display: none!important;
} */


/*header*/
/* .final-menu-overlay {
	width: 100%;
    height: 100%;
    color: black;
    position: fixed;
    z-index: 9999;
}
.header-social-icons {
	position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    z-index: 99999;
    text-align: center;
}
.header-social-icons a {
	color: #ffffff;
	padding: 0 8px;
}
div.languages {
	display: none;
}
.header-social-icons span li {
	display: inline;
    list-style: none;
}
.language-items span {
	color: #ffffff;
	font-weight: bold;
	font-size: 16px;
}
.language-items {
	border-top: 2px solid white;
    width: 40%;
    margin: 0 auto;
    padding-top: 22px;
}
.social-icons {
	padding: 22px 0;
} */
/*about-the-project*/
/* h1.title {
	color: #EE1F1F;
	font-size: 28px;
	padding-left: 42px;
	padding-bottom: 16px;
	font-weight: 500;
}
.info-item p {
	font-size: 15px;
	min-height: 140px;
	font-weight: 500;
}
.info-description {
	padding-left: 32px;
} */

/*About Activities*/

/* .components {
	font-size: 19px;
	font-weight: 100;
	text-transform: uppercase;
	color: #F6F6F6;
	text-align: center;
	margin-top: 20px;
}
.components-counter {
	text-align: center;
	font-size: 100px;
	color: #F6F6F6;
} */
/*.inner-content {
	background-color: red;
    width: 180px;
	height: 180px;
    position: absolute;
    top: -10%;
}*/
/* .a-img .objective {
	margin-left: 0;
	margin-bottom: -12%;
}
.red-event-shape {
	position: absolute;
    bottom: -20px;
	right: 20px;
	max-width: 100px;
	height: auto;
}
.list-item:nth-child(4) {
	padding-top: 100px;
} */
/* .activity-desc p {
	padding-top: 54px;
} */
@media( max-width: 1024px ) {
	/* .inner-content {
		width: 140px;
		height: 140px;
	}
	.components-counter {
		font-size: 66px;
	}
	.components {
		font-size: 18px;
	} */

}

@media( max-width: 767px ) {
	/* .e-pg-content{
		column-count: unset;
	}
	.video-container{ padding: 0;}
	.event-title{ font-size: 24px;}
	.list-item p {
		font-size: 14px;
	}
	.a-entry h3 {
		font-size: 26px;
	} */
}

@media( max-width: 480px ) {
	/* .inner-content {
		width: 116px;
		height: 116px;
	}
	.components-counter {
		font-size: 54px;
	}
	.components {
		font-size: 14px;
	} */
}


