/*----------------->>>>>>>>>> TABLE OF CONTENTS <<<<<<<<<<-----------------*/

/* 1 >>>>>>>>>>>>>>> IMPORT FONTS <<<<<<<<<<<<<<< */

/* 2 >>>>>>>>>>>>>>> GLOBAL <<<<<<<<<<<<<<< */

/*-- objectives --*/
/*--- section title ---*/
/*--- section link ---*/
/*--- scrolling dots ---*/
/* back to top & overlay menu */
/*--- menu overlay btn ---*/

/* 3 >>>>>>>>>>>>>>> HOMEPAGE <<<<<<<<<<<<<<< */

/*----------------- 3.1 SLIDESHOW & MENU -----------------*/
/*----------------- 3.2 HOME ABOUT PROJECT -----------------*/
/*----------------- 3.3 IMPORTANCE OF FINANCIAL REPORTS -----------------*/
/*----------------- 3.4 PROJECT PARTIES -----------------*/
/*----------------- 3.5 PROJECT ACTIVITIES -----------------*/
/*----------------- 3.6 SURVEY RESULTS -----------------*/
/*----------------- 3.7 LEGAL FRAMEWORK -----------------*/
/*----------------- 3.8 E-ROOM -----------------*/
/*----------------- 3.9 HOME PHOTO GALLERY & VIDEO -----------------*/

/* 4 >>>>>>>>>>>>>>> FOOTER <<<<<<<<<<<<<<< */

/* 5 >>>>>>>>>>>>>>> INNER PAGES <<<<<<<<<<<<<<< */

/*-------------   5.1 ABOUT THE PROJECT PAGE   -----------------*/
/*-------------   5.2 PROJECT PARTIES INVOLVED    -----------------*/
/*-------------   5.3 FRAMEWORK   -----------------*/
/*----------------- framework items -----------------*/
/*-------------   5.4 SURVEY RESULTS PAGE -----------------*/
/*-------------   5.5 FINANCIAL REPORT PAGE   -----------------*/
/*-------------   5.6 PROJECT ACTIVITIES  -----------------*/
/*-------------   5.7 E-ROOM  -----------------*/

/* 6 >>>>>>>>>>>>>>> BREAKPOINTS / MEDIA QUERIES <<<<<<<<<<<<<<< */

/*-------------------------- IMPORT FONTS --------------------------*/
/*
* font-family: 'Montserrat', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');

/*
* font-family: 'Playfair Display', serif;
*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i');

/*-------------------------- GLOBAL --------------------------*/
body { 
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #303030;
    background-color: #fff;
}



.list-item:nth-child(2n) .activity-content {
    display: flex;
    flex-direction: row-reverse;
}

.site-content{
    max-width: 1920px;
    margin: 0 auto;
    float: none;
}

.container-fluid{ 
    max-width: 1600px;
    margin: 0 auto; 
}
.has-bg{
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.has-bg-slide{
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}
.contain-bg{
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
.rmp{
	padding-left: 0;
	padding-right: 0;
}
.tb-padd{
    padding-top: 40px;
    padding-bottom: 8%;
}
.hm-section{ padding: 10px 0;}
/*-- objectives --*/
.objective{
    background: #EE1F1F;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    margin-left: 16%;
    margin-top: -12%;
    position: relative;
    box-shadow: 1px 2px 14px 4px rgba(0, 0, 0, 0.16);
}
.objective h6{
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-family: Montserrat;
}
.objective h1{
    margin: 0;
    font-size: 100px;
    text-transform: uppercase;
    color: #fff;
    font-family: Abril Fatface;
}
/*--- section title ---*/
.section-title p{
    position: relative;
    left: 0;
    right: 0;
    margin: 0;
    line-height: 1em;
    font-size: 48px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    color: #343434;
}
img.red-lines{ 
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -20px;
    z-index: -1;
    width: 680px;
}
.section-title h3{
    margin: 3% 0;
    font-size: 80px;
    text-align: center;
    font-weight: 100!important;
    font-family: 'Montserrat';
}
.section-title h4{ 
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 4%;
    color: #343434;
}
.section-title { 
    position: relative; 
    padding: 40px 0;
}
/*--- section link ---*/
.s-link a{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 900;
    color: #202020;
    position: relative;
    left: 0;
    margin-top: 24px;
}
.s-link a:after{
   position: absolute;
    content: '';
    width: 120px;
    height: 2px;
    background-color: #202020;
    bottom: -5px;
}
.section-padding{
    padding: 100px 0;
}
/*--- scrolling dots ---*/
.hm-section{
    float: left;
    width: 100%;
    min-height: 400px !important;
}
.dots-container{
    position: fixed;
    top: 20%;
    right: 15px;
    z-index: 999;
    /* position: fixed;
    top: 100px;
    z-index: 999;
    background-color: #fff;
    width: 100px;
    height: 100vh;
    right: 0;
    margin: 0 auto;
    text-align: center!important; */
}
a.scroll{
    float: left;
    clear: both;
    width: 10px;
    height: 2px;
    background-color: #3B3B3B;
    /* border: solid #000 1px; */
    margin-top: 5px;
}
a.scroll.active{
    background-color: #fff;
    border: solid #EE1F1F 1px;
    width: 20px;
    margin-left: -10px;
}
/* back to top & overlay menu */
.mobile-menu #menu-primary-2,
.mobile-menu #menu-primary-sq-2{
    position: fixed;
    top: -8px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: #ee1f1f;
    padding-top: 60px;
    height: 100vh;
}
.mobile-menu .menu-primary-container ul li,
.mobile-menu .menu-primary-sq-container ul li{
    width: 100%;
    text-align: center;
}
.scrollToTop{
    position: fixed;
    right: 30px;
    /* background-color: #fff; */
    bottom: 30px;
}
.scrollToTop img{
    position: fixed;
    bottom: 70px;
}
.scrollToTop p{
    margin-top: 20px;
}
.scrollToTop div{
    width: 60px;
    height: 60px;
    border: 1px solid #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EE1F1F;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    background-color: #fff;
}
/*--- menu overlay btn ---*/
.overlay-menu-container{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
} 
.menu-btn{
    width: 80px!important;
    height: 80px!important;
    position: absolute;
    background-color: #EE1F1F;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 9999;
} 
.menu-btn img{
    margin: 0 auto;
}    
.menu-primary-container{
    padding-top: 0;
}
.overlay-content{
    background: rgb(238, 31, 31);
    height: 100vh;
    /*background-image: url(../images/footer-logo.png);*/
}
.ov_menu{
    padding: 20px 0;
    background: rgb(238, 31, 31);
    height: 100vh;
}
.overlay-content ul{
    list-style: none;
    padding-left: 4%;
}
.menu-primary-container ul li a,
.menu-primary-sq-container ul li a{
    color: #fff;
    font-size: 24px;
}
.menu-primary-container ul li,
.menu-primary-sq-container ul li{
    margin: 15px 0;
} 
.menu-overlay{
    position: absolute;
    z-index: 999;
}
.close-menu{
    position: fixed;
    right: 0;
    top: 0;
    color: #fff;
    z-index: 999999;
    width: 80px;
    height: 80px;
    background-image: url(../images/ico-close-menu.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px;
    /* height: 100vh; */
}
.mobile-menu #menu-primary-2,
.mobile-menu #menu-primary-sq-2{
    position: fixed;
    top: -8px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: #ee1f1f;
    padding-top: 60px;
    height: 100vh;
}
.mobile-menu .menu-primary-container ul li,
.mobile-menu .menu-primary-sq-container ul li{
    width: 100%;
    text-align: center;
}
/*.menu-overlay li{
    display: block;
    float: left;
    width: 33%;
}*/
.logo-container {
    z-index: 999999;
}
/*header*/
.final-menu-overlay {
	width: 100%;
    height: 100%;
    color: black;
    position: fixed;
    z-index: 9999;
}
.header-social-icons {
	position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    z-index: 99999;
    text-align: center;
}
.header-social-icons a {
	color: #ffffff;
	padding: 0 8px;
}
div.languages {
	display: none;
}
.header-social-icons span li {
	display: inline;
    list-style: none;
}
.language-items span {
	color: #ffffff;
	font-weight: bold;
	font-size: 16px;
}
.language-items {
	border-top: 2px solid white;
    width: 40%;
    margin: 0 auto;
    padding-top: 22px;
}
.social-icons {
	padding: 22px 0;
}

/*----------------- HOMEPAGE -----------------*/
/*----------------- SLIDESHOW & MENU -----------------*/
/*--languages--*/
.languages{
    list-style: none;
    margin-right: 12px;
    display: flex;
}
.menu-lang{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}
.languages .lang-item{
    margin-left: 14px;
    z-index: 9999;
}
.item{
    height: 600px;
    outline: 0;
    position: relative;
}
.slide-image{ height: 600px; }
.slide-dots{
    position: relative;
}
.slide-dots img{ 
    width: 60px; 
    height: auto;
    position: absolute;
    right: 0;
}
.slide-title{
    margin-top: 90px;
}
.slide-title h1{
    font-size: 48px;
    color: #303030;
    font-weight: 900;
    margin: 20% 0 0 0;
}
.content{ 
    background-color: #fff; 
    position: relative;
    padding-right: 30px;
}
/*.content:before{
    content: '',
    background-color: #fff;
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
}*/
.navbar{
    margin-bottom: 0;
}
.navbar-brand img{
    width: 120px;
    height: auto;
    left: 0;
    position: absolute;
    top: 4px;
}
.navbar-brand{
    float: left;
    height: 100px;
    padding: 0;
    z-index: 99999;
}
.navbar-default .navbar-collapse{
   /* background: #fff;
    float: right;*/
}
.navbar-default{
    border: none;
    background: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
    color: #202020;
    font-weight: 800;
    font-size: 16px;
}
.navbar-default .navbar-nav>li>a{
    background-color: transparent;
    color: #202020;
    font-weight: 800;
    font-size: 16px;
}
.navbar-default .navbar-nav>li.active>a:before{
    content: '-';
    display: block;
    float: left;
    margin: -6px -14px 0 0;
    color: #EE1F1F;
    font-size: 80px;
}
#primary-menu{
    /*position: absolute;*/
    right: 0;
    padding-right: 0;
    z-index: 9999;
    background: transparent!important;
}
.navbar-toggle,
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover{
    color: #fff;
    background: red;
    border-radius: 0;
    border: none;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}
.home-slideshow .slick-dots li{
    display: inline-block;
    text-align: center;
}
.home-slideshow .slick-dots li button{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/slide.png);
    text-indent: -9999999px;
    padding: 0;
    width: 16px;
    height: 16px;
    box-shadow: none;
    outline: 0;
    border: none;
    margin-left: 16px;
    background-color: transparent;
}
.home-slideshow .slick-dots li.slick-active button, 
.home-slideshow .slick-dots li button:hover, 
.home-slideshow .slick-dots li button:focus{
    /*background-color: #6f6e78ab!important;*/
    background-image: url(../images/active-slide.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
ul.slick-dots{
    text-align: left;
    padding: 0;
    position: absolute;
    margin-top: -5%;
    left: 16%;
}
.slide-content h2{
    font-size: 48px;
    font-weight: 900;
    color: #303030;
    margin: 32px 0;
    padding-left: 14px;
}
.slide-content p{
    position: relative;
    background-color: #303030;
    color: #fff;
    font-size: 16px;
    padding: 8% 8% 8% 0;
    margin-bottom: 0;
    z-index: 9999;
    font-family: 'Playfair Display';
    padding-left: 14px;
}
.slide-content p:after{
    position: absolute;
    content: '';
    right: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #303030;
}
.slide-content{ margin-top: 16%; }

.slide-lines{
    position: absolute;
    right: 20px;
    bottom: 22%;
}
img.slide-lines{
    width: 120px;
}
/* apply button */
.link-section{ 
    position: relative; 
}
.apply-link-dots{ 
    background-color: #EE1F1F; 
    padding-bottom: 16px;
}
.apply{
    background-color: #EE1F1F;
    bottom: 0;
    position: absolute;
    width: 200px;
    height: 180px;
    right: 20%;
}
.apply a{
    text-align: center!important;
    position: absolute;
    right: 12%;
    left: 12%;
    top: 22%;
    text-transform: capitalize;
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    background-color: #EE1F1F;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.16);
    border-radius: 6px;
    padding: 4%;
    font-family: 'Playfair Display';
}
.apply-dots{
    max-width: 120px;
    margin: 0 auto;
    margin-top: 56%;
}
/*----------------- HOME ABOUT PROJECT -----------------*/
.about-img-container{
	padding: 40px 50px 40px 0;
	position: relative;
	height: 640px;
}
.inner-img-container{
	width: 100%;
	height: 100%;
}
img.home-about-squares{
	position: absolute;
	bottom: 0;
	right: 0;
}
.home-about-project{
    /* background-image: url(../images/about-project-bg.png); */
}
.about-project-page img{
    /* margin-left: -20%; */
    /* box-shadow: 1px 2px 14px 4px rgba(0, 0, 0, 0.16); */
}
.about-project-page p{
    color: #717171;
    max-width: 520px;
    line-height: 24px;
    margin: 28px 0 28px 15%;
}
.about-project-description p{
    margin: 6% 0;
    line-height: 24px;
    max-width: 640px;
}
.about-project-page .single-link{
    margin-left: 15%;
}
.about-project-description{ 
    padding-left: 50px; 
}
.about-project-description img{
    box-shadow: 1px 2px 14px 4px rgba(0, 0, 0, 0.16);
    margin-top: 20px;
}
/*----------------- IMPORTANCE OF FINANCIAL REPORTS -----------------*/

.home-financial-report{ 
    /*padding: 120px 0;*/
    padding: 80px 0;
    position: relative; 
}
section.home-financial-report .section-title{
    position: relative;
}
section.home-financial-report .section-title:after{
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    width: 160px;
    height: 110px;
    background-image: url(../images/squares.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    margin: 0 auto;
}
img.grey-lines{
    margin-left: -100px;
}
.finance-image .statistic-img{
    margin: 0 auto;
    margin-top: -6%;
    width: 580px;
    box-shadow: 0 8px 29px 0px rgba(0, 0, 0, 0.1);
}
.finance-content h2{
    font-size: 28px;
    color: #202020;
    font-weight: 900;
    margin: 50px 0 30px 0;
}
.finance-content{
    line-height: 2em;
    color: #717171;
    position: relative;
    overflow-y: hidden;
}
.finance-content p{ max-width: 600px;}
.finance-content ul{
    list-style-image: url(../images/bullet.png);
    padding-left: 15px;
    /* max-width: 600px; */
}
.finance-content ul li{
    margin: 0 0 20px 0;
}
.squares{
    display: inline-flex;
}
.finance-content .b-square{
    width: 250px;
    height: 250px;
    background-color: rgba(32, 32, 32, 0.05);
}
.finance-content .s-square{
    width: 60px;
    height: 60px;
    background-color: rgba(32, 32, 32, 0.05);
    margin-right: 20px;
}
/*----------------- PROJECT PARTIES -----------------*/
.pr-parties-pg-content p {
    line-height: 26px;
    text-align: center;
    margin: 12px 0;
    font-size: 16px;
}
.other-members img,
.members img{
    margin: 0 auto;
}
.members,.other-members{
    padding: 0 50px;
}
/*.members, .other-members{
    padding: 0 2%;
}*/
.white-bg{ 
    height: 220px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;;
    margin-top: 32px;
}
.projects{ 
    height: 220px; 
    position: relative;
    padding-left: 50px;
}
.centered-title{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
section.home-project-parties{
    z-index: 99;
    background-image: url(../images/parties-bg.jpg);
    padding: 180px 0;
}
.projects .title p{
    margin: 0;
    font-size: 26px;
    color: #202020;
    font-weight: 900;
}
/*----------------- PROJECT ACTIVITIES -----------------*/

.home-project-activities{
    padding: 120px 0;
    position: relative;
}
.home-project-activities:after{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 140px;
    background-image: url(../images/activities-after.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    margin: 0 auto;
}

/* .home-project-activities{
    background-image: url(../images/project-activities-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
} */
.pr-activities{
    /* position: relative; */
}
.pr-activities:after{
    /* position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 92%;
    content: '';
    height: 35px;
    background-image: url(../images/activities-after.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    margin: 0 auto;
    z-index: 99999; */
}
.pr-activities {
    position: relative;
}
.pr-activities-desc {
    background-color: #303030;
    color: #fff;
    padding: 6% 0 6% 10%;
    font-size: 28px;
    position: absolute;
    right: 6%;
    top: 34%;
    /*z-index: -9;*/
}
.pr-activities-img{ 
    z-index: 1;
}
.pr-activities-desc p {
    margin: 26px 0;
}
.pr-desc .single-link a {
    color: #fff;
}


/*----------------- SURVEY RESULTS -----------------*/
section.home-survey-result .section-title{
    position: relative;
}
section.home-survey-result .section-title:after{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6%!important;
    content: '';
    width: 100%;
    height: 140px;
    background-image: url(../images/survey-after.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin: 0 auto;
}
img.survey-shape{
    max-width: 140px;
    float: right;
    margin-bottom: -140px;
}
.fin-image{
    height: 520px;
}
/*.survey-page-img{
    height: 520px;
}*/
.survey-page-img{
    width: 100%;
    padding: 40px;
    position: relative;
    height: 520px;
}
.survey-image{
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.big-square{
    max-width: 120px;
    position: absolute;
    left: 0;
    top: -6%;
}
.bottom-lines{
    position: absolute;
    right: 0;
    bottom: 0;
}
/*.survey-page-title{
    padding-left: 10%;
}*/
.survey-page-title p{
    max-width: 450px;
    margin: 0 auto;
    line-height: 26px;
}
.survey-page-title h4{
    color: #EE1F1F;
    font-size: 28px;
    padding: 12px 0 40px 0;
    margin: 0 auto;
    max-width: 450px;
}
/* .survey-page-title{
    margin-top: 25%;
} */
.survey-title p{
    margin: 0;
    font-size: 28px;
    font-weight: 800;
    color: #fff;
    background: #EE1F1F;
    max-width: 240px;
    height: 220px;
    padding-left: 4%;
    padding-top: 2%;
    margin-top: -8%;
    position: relative;
}
.survey-title p:after{
    position: absolute;
    bottom: 20px;
    left: 26px;
    content: '';
    width: 80px;
    height: 100%;
    background-image: url(../images/short-lines.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    
}
.survey-description{
    padding-left: 8%;
    position: relative;
    overflow: hidden;
}
.survey-container .single-link{
    max-width: 450px;
    margin: 0 auto;
}

/*----------------- LEGAL FRAMEWORK -----------------*/
.fr-item:nth-child(2) .container-fluid{
    max-width: 800px;
    float: right;
}
.fr-item:nth-child(3) .container-fluid{
    max-width: 800px;
    float: left;
}
.home-legal-framework{
    background-color: rgba(213, 213, 213, 0.20);
    padding: 100px 0;
}
.framework-img-title{
    display: flex;
    align-items: center;
}
.framework-img-title h4{
    color: #EE1F1F;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.5em;
    margin-left: 12px;
}
.legal-framework{
    background-color: #D5D5D5;
    position: relative;
}
.legal-framework:after{
    position: absolute;
    content: '';
    right: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #D5D5D5;
}
.legal-framework,
.framework,
.other-frameworks{
    height: 300px;
    margin: 32px 0;
}
.title h3{
    color: #EE1F1F;
    font-size: 28px;
    font-weight: 900;
    margin: 20px 0;
}
.title p{
    font-size: 16px;
}
.f-content p{
    font-size: 16px;
    color: #717171;
    margin: 12px 0;
}
.single-link a{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 900;
    color: #202020;
    position: relative;
    left: 0;
    margin: 22px 0;
    text-transform: lowercase;
}
.single-link a:after{
   position: absolute;
    content: '';
    width: 120px;
    height: 2px;
    background-color: #D9D9D9;
    bottom: -5px;
}
/*----------------- E-ROOM -----------------*/
.center-content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.home-room{
    position: relative;
    padding: 120px 0;
}
.home-room .section-title{
    position: relative;
}
.home-room:after{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 140px;
    background-image: url(../images/e-room-after.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    margin: 0 auto;
}
.e-room-image img{
    width: 680px;
    margin: 0 auto;
}
.e-room-entry h2{
    margin: 10% 0;
    color: #EE1F1F;
}
.e-room-entry p{
    color: #303030;
    font-size: 16px;
    line-height: 26px;
    max-width: 420px;
}
.e-room-entry h4 {
    margin: 28px 0;
    color: #EE1F1F;
    font-size: 28px;
}
.e-room-image{
    padding: 40px;
    position:  relative;
    height: 640px;
}
.e-image{
    height:  100%;
    background-position:  center;
    background-size:  cover;
    position:  relative;
    z-index:  1;
}
img.e-top-shape{
    max-width: 80px;
    position:  absolute;
    right:  0;
    top:  0;
    z-index: 0;
}
img.e-shape{
    max-width: 80px;
    position:  absolute;
    left:  0;
    bottom:  0;
    z-index:  2;
}

/*----------------- HOME PHOTO GALLERY & VIDEO -----------------*/

.home-about-video{
    height: 520px;
    margin-left: -80px;
    margin-top: 100px;
}
.video-overlay{
    position: relative;
    background-color: rgba(238, 31, 31, 0.6);
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 12px 0px rgba(0, 0, 0, 0.16);
}
.home-video{
    position: relative;
    left: 0;
    right: 0;
}
.home-about-video img{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.home-photos-videos{
    padding: 80px 0;
    background-image: url(../images/photo-video-bg.png);
}
/*--- gallery ---*/
.fotorama__nav--dots{
    display: block;
    text-align: right;
}
.photo-gallery{
    padding: 4% 0 4% 50px;
    background: #191919;
}
/*----------------- FOOTER -----------------*/
.footer-social,
.footer-menu{ 
    position: relative; 
}

.socials,.cpr-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-footer{
    background: #F6F6F6;
    padding-top: 20px;
    position: relative;
}
/* .footer-social{
    margin-top: 36px;
} */
#menu-footer-menu{
    margin-top: 26px;
}
.footer-social a{
    color: #EE1F1F;
    margin-right: 26px;
    font-size: 22px;
}
.footer-menu a{
    color: #202020;
    font-weight: 900;
    font-family: Montserrat;
    font-size: 16px;
}
.nav>li>a:hover{ 
    background-color: transparent; 
}
.footer-logo img{
    max-width: 120px;
    height: auto;
}
.footer-copyright{
    text-align: center;
    margin: 14px 0;
    color: #202020;
    font-size: 14px;
}
/*-----------------*//*-----------------*/ /*INNER PAGES*/ /*-----------------*//*-----------------*/
/*-----------------*/ /*ABOUT THE PROJECT PAGE*/ /*-----------------*/
/* .table{ margin-bottom: 0!important; }
.table>tbody>tr>td{ border-top: 0;} */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    /* border: 1px solid #ddd; */
}
.table>tbody>tr>td{ 
    border-top: 0;
}
th, td {
    text-align: left;
    padding: 8px;
}
.pr-component{ position: relative; }
.pr-component:nth-child(1):after{
    position: absolute;
    top: 22%;
    bottom: 0;
    left: 0;
    right: 92%;
    content: '';
    height: 35px;
    background-image: url(../images/shapes/shape1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    margin: 0 auto;
    z-index: 99;
}
.pr-component:nth-child(2):after{
    position: absolute;
    top: 20%;
    left: 0;
    right: 91%;
    content: '';
    height: 42%;
    background-image: url(../images/shapes/shape2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    margin: 0 auto;
    z-index: 99;
}
.pr-component:nth-child(3):after{
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 90%;
    content: '';
    height: 156px;
    background-image: url(../images/shapes/shape3.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    margin: 0 auto;
    z-index: 99;
}
.pr-component:nth-child(4):after{
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 0;
    right: 94%;
    content: '';
    height: 80px;
    background-image: url(../images/shapes/shape4.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin: 0 auto;
    z-index: 99;
}
.pr-component:nth-child(5):after{
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 92%;
    content: '';
    height: 100px;
    background-image: url(../images/shapes/shape5.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    margin: 0 auto;
    z-index: 99;
}
.page-template-about-project .section-title{
    position: relative;
    overflow: hidden;
}
.page-template-about-project .section-title:after{
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 140px;
    background-image: url(../images/about-parties-section.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
}
.page-img{
    height: 600px;
    position: relative;
    padding: 40px;
}
.about-pr-img{
    width: 100%;
    height: 100%;
}
img.square-dots{
    position: absolute;
    top: 0;
    left: 18%;
    max-width: 80px;
}
img.two-squares{
    position: absolute;
    right: 0;
    bottom: 0;
}
.page-content{
    padding-top: 40px;;
}
.page-content h4{
    color: #EE1F1F;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 26px;
    font-family: Montserrat;
    margin: 0 0 20px 0;
}
.page-content p{
    line-height: 26px;
    margin-bottom: 15px;
    max-width: 660px;
}
.objective-2 .objective{
    margin-top: 0;
    margin-left: 4%;
}
.objective-2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.objective-2 span{
    margin: 0;
    color: #202020;
    font-size: 36px;
    font-weight: 700;
}
.data-item-title p{
    color: #EE1F1F;
    font-size: 22px;
    font-weight: 800;
    margin: 14px 0;
}
section.second-objective{ position: relative; overflow: hidden; }
.data-item-title{  position: relative;}
.data-item-title:after{
    /* position: absolute;
    content: '';
    right: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #F6F6F6; */
}
.data-item-title:before{
    /* position: absolute;
    content: '';
    left: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #F6F6F6; */
}
.data-item:nth-child(2n+1){
    background-color: #F6F6F6;
    position: relative;
}
.data-item:nth-child(2n+1)::after{
/*    position: absolute;
    content: '';
    right: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #F6F6F6;*/
}
.data-item:nth-child(2n+1):before{
    /* position: absolute;
    content: '';
    left: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #F6F6F6; */
}
.data-item:nth-child(2n){
    margin: 14px 0;
}
.nr,
.cat,
.desc{
    font-size: 18px;
    margin: 12px 0;
}
/*.cat,.desc{ font-weight: 600; }*/
.nr{
    color: #717171;
}
.cat,.desc{ 
    color: #202020; 
    font-family: Montserrat Regular;
}
.data-table{ 
    padding: 80px 0; 
    overflow-x:auto;
}
/* section 3 pr objectives*/
.objective-img{
    height: 720px;
    position: relative;
    padding: 40px 0 150px 20px;
}
.objective-img .objective{
    margin-left: 0;
    margin-top: -22%;
}
.obj-img{
    height: 100%;
    width: 100%;
}
img.obj-dots{
    width: 80px;
    position: absolute;
    top: 0px;
    right: 20%;
}
img.small-square{
    position: absolute;
    top: 0;
    left: 0;

}
img.obj-lines{
    position: absolute;
    bottom: 0;
    right: 0;
}
section.objective-04{
    background-color: #202020;
    padding: 80px 0 0 0;
}
h2.obj-title{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin: 8% 0;
    position: absolute;
    z-index: 99;
    text-transform: uppercase;
}
.objectives h5{
    color: #ee1f1f;
    text-transform: uppercase;
    font-size: 28px;
    margin: 40px 0 40px 0;
}
.objectives h6{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin: 28px 0;
}
.objectives p{
    color: #fff;
    font-size: 15px;
    line-height: 26px;
}
.result-item{
    display: flex;
    margin-bottom: 24px;
    font-size: 16px;
    font-family: Montserrat;
    color: #fff;
}
.result-item span.list{
   /* margin-right: 18px;*/
}
.result-item p{
    margin-left: 16px;
    margin-bottom: 0;
}
.objective-4{
    position: relative;
    display: flex;
    align-items: center;
}
.objective-4 .objective{
    margin-top: 0;
    margin-left: 0;
}
.objective-4 span{
    margin: 0;
    color: #202020;
    font-size: 36px;
    font-weight: 700;
    margin-left: 28px;
}
img.component-shapes{
    width: 280px;
    height: 280px;

}
.objective-4{
    background-image: url(../images/component-shape.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    padding: 80px 0;
}
.count-component{ 
    display: flex;
    margin: 60px 0; 
}
.count-components p{
    position: relative;
}
.count-components p{
    color: #D5D5D5;
    font-size: 80px;
    font-weight: 800;
    font-family: Montserrat;
    margin: 0 40px 0 0;
    position: relative;
    z-index: 9999;
}
.count-components p:after{
    position: absolute;
    top: 20%;
    right: -88%;
    content: '';
    width: 100%;
    height: 20px;
    background-image: url(../images/nr-after.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.inner-pr-component h2{
    margin: 14px 0;
    font-size: 20px;
    color: #EE1F1F;
    font-weight: 800;
}
.inner-pr-component p{
    font-size: 16px;
    color: #202020;
    line-height: 24px;
    font-family: Montserrat;
}
/*-----------------*/ /*PROJECT PARTIES INVOLVED*/ /*-----------------*/

.page-template-project .section-title{
    position: relative;
}
.page-template-project .section-title:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 160px;
    background-image: url(../images/pr-parties.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.item-parties:nth-child(2n){
    display: flex;
    flex-direction: row-reverse;  
}
.item-parties:nth-child(2n) .partie-description{
    border-right: 4px solid rgba(255, 0, 4, 0.10);
    padding-right: 4%;
}
.item-parties:nth-child(2n+1) .partie-description{
    border-left: 4px solid rgba(255, 0, 4, 0.10);
    padding-left: 4%;
}
.item-parties{
    display: flex;
    align-items: center;
    margin: 80px 0;
}
/*.item-parties .partie-description{
    border-left: 4px solid rgba(255, 0, 4, 0.10);
    padding-left: 4%;
}*/
._img img{
    margin: 0 auto;
}
.partie-description h2{
    color: #EE1F1F;
    font-size: 26px;
    margin: 0 0 14px 0;
}
.parties-banner{
    height: 280px;
    /* margin: 2% 0; */
}
/*----------------- FRAMEWORK -----------------*/

.framework-entry h3{
    text-align: center;
    color: #EE1F1F;
    margin: 14px 0;
}
.framework-entry p{
    margin: 18px 0;
    text-align: center;
    font-size: 15px;
}
.f-img{
    padding: 40px 24%;
    height: 520px;
    position: relative;
    z-index: 999;
    /*margin: 28px auto;*/
}
.f-img .frame-img{
    height: 100%;
    widows: 100%;
}
.framework-entry{
    /*padding: 80px 0;*/
}
img.fr-squares{
    position: absolute;
    width: 220px;
    left: 12%;
    top: -17%;
    z-index: -1;
}
img.fr-dots{
    position: absolute;
    width: 80px;
    top: -28%;
    right: 0;
    transform: rotate(135deg);
}
.fr-short-description{
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
}
.fr-short-description img{
    position: absolute;
    left: 0;
    width: 80px;
}
.fr-short-description p{
    font-size: 24px;
    font-weight: 600;
    color: #303030;
    margin: 0 auto;
}
/*----------------- framework items -----------------*/
.fr-item{ 
    padding: 60px 0;
}
.fr-item:nth-child(7),
.fr-item:nth-child(5){
    position: relative;
    overflow: hidden;
}
.fr-item:nth-child(5):after{
    position: absolute;
    bottom: 0;
    right: -45%;
    content: '';
    width: 100%;
    height: 200px;
    background-image: url(../images/obje-lines.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}
.fr-item:nth-child(7):after{
    position: absolute;
    top: 16px;
    right: 13%;
    content: '';
    width: 60px;
    height: 60px;
    background-image: url(../images/top-right.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    transform: rotate(270deg);
}
.fr-item:nth-child(6){
    position: relative;
}
.fr-item:nth-child(6):after{
    position: absolute;
    bottom: 0;
    left: 10%;
    content: '';
    width: 100%;
    height: 120px;
    background-image: url(../images/fr-circles.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
}
.fr-item:nth-child(4){
    position: relative;
}
.fr-item:nth-child(4):after{
    position: absolute;
    top: -20%;
    left: -12%;
    content: '';
    width: 100%;
    height: 120px;
    background-image: url(../images/framework-shapes.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.fr-item:nth-child(2),
.fr-item:nth-child(6),
.fr-item:nth-child(8){
    padding-left: 30px;
}
.fr-item:nth-child(1),
.fr-item:nth-child(4),
.fr-item:nth-child(5){
    width: 100%;
}
.fr-item:nth-child(4) .fr-item-content,
.fr-item:nth-child(5) .fr-item-content{
    max-width: 1350px!important;
}
.fr-item:nth-child(2),
.fr-item:nth-child(3){
    background-color: #f0f0f1;
}
.fr-item:nth-child(4),
.fr-item:nth-child(5){
    background-color: #303030;
}
.fr-item:nth-child(4) .fr-item-content p,
.fr-item:nth-child(5) .fr-item-content p{
    color: #fff!important;
}
section.framework-items{
    padding: 60px 0;
}
.fr-item-content h2{
    color: #EE1F1F;
    font-size: 24px;
    margin: 22px 0;
    font-weight: 600;
}
.fr-item-content p{
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 14px;
}
/*-----------------*/ /*SURVEY RESULTS PAGE*/ /*-----------------*/
/* user finrep */
.u-finrep-content h1,
.prepares-finrep h1 {
    color: #EE1F1F;
    font-size: 28px;
    margin: 22px 0;
}
.u-download-reports {
    text-align: center;
    background-color: #F6F6F6;
    position: relative;
    min-height: 800px;
}
.u-download-reports:after{
    position: absolute;
    content: '';
    background-color: #F6F6F6;
    width: 100%;
    height: 16%;
    left: 0;
    bottom: -16%;
    z-index: -1;
}
.p-download-reports {
    text-align: center;
    background: #D5D5D5;
    min-height: 800px;
}
.u-download-reports h2,
.p-download-reports h2{
    color: #303030;
    margin: 22px 0;
    font-size: 28px;
    text-align: left;
    padding-left: 14%;
}
.u-finrep-content p ,
.p-finrep-content p {
    color: #303030;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 14px;
    max-width: 660px;
}
.colored-bg ,
.colored-report-bg {
    color: #fff;
    background: #EE1F1F;
    margin: 6% 14%;
    padding: 60px;
}
.colored-report-bg { 
    background: #fff!important; 
    color: #EE1F1F; 
}
.colored-bg h3,
.colored-report-bg h3 {
    font-size: 24px;
    margin: 0 0 22px 0;
    text-transform: uppercase;
}
.colored-bg p,
.colored-report-bg p{
    padding: 22px 0;
    font-size: 16px;
    margin-bottom: 24px;
}
.colored-bg a,
.colored-report-bg a{
    background: #EE1F1F;
    color: #fff;
    font-size: 16px;
    border: 2px solid #fff;
    padding: 14px 28px;
}
.colored-report-bg a{
    background: #fff;
    color: #EE1F1F;
    border: 2px solid #EE1F1F;
}
.colored-bg a:hover{
    background: #fff;
    color: #EE1F1F;
}
.colored-report-bg a:hover{
    background: #EE1F1F;
    color: #fff;
    border: 2px solid #fff;
}
.colored-bg a i,
.colored-report-bg a i{
    margin-left: 22px;
}
/* prepares finrep */
.prepares-finrep{
    background-color: #F6F6F6;
    padding: 4% 0;
}

/*-----------------*/ /*FINANCIAL REPORT PAGE*/ /*-----------------*/
/* section.finrep {
    padding-top: 40px;
} */
.finrep-page-entry{
    /* padding: 60px 0 0 0; */
}
.finrep-page-content{
    padding: 0 0 60px 0;
    padding-top: 26px;
}
img.fin-img {
    width: 660px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
}
img.grey-dots{
    margin: 0 auto;
    max-width: 80px;
    margin-top: -20px;
}
img.red-sq {
    max-width: 100px;
    float: right;
}
.finrep-page-entry h2 {
    margin: 22px 0;
    font-size: 28px;
    font-weight: 400;
}
.finrep-page-entry {
    column-count: 2;
}
.finrep-page-entry p{
    max-width: 680px;
}
.finrep-page-entry p:nth-child(3){
    padding-top: 64px;
}

/*-----------------*/ /*PROJECT ACTIVITIES*/ /*-----------------*/
.outer-container {
    padding-bottom: 80px;
}
.contains-img{
    max-width: 900px;
    height: 600px;
    padding: 100px 100px 8px 100px;
    position: relative;
    margin: 0 auto;
}
.img-container{
    width: 100%;
    height: 100%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.16);
}
img.right-top-corner{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
}
img.left-bottom-corner{
    width: 400px;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.assistence-content h1{
    font-size: 36px;
    color: #202020;
    margin: 12px 0;
}
.assistence-content p{
    font-size: 16px;
    line-height: 30px;
    padding: 22px 0;
    margin-bottom: 14px;
}

.assistence-item ul {
    padding-left: 0;
    list-style-image: url(../images/li-bullets.png);
    max-width: 640px;
}
.assistence-item-report ul {
    padding-left: 0;
    list-style-image: url(../images/li-bullets.png);
    width: 100%;
    margin: 20px 0;
}
.finrep-list-technical-assistence {
    padding: 0 0 60px 0;
}
.assistence-item-report ul  p{
    font-size: 16px;
    line-height: 24px;
}
.assistence-item {
    margin: 20px 0;
}
.second-section,
.third-section,
.forth-section {
    padding: 80px 0;
}
.drafting-regulations-content { 
    padding-bottom: 40px; 
}
.third-section {
    background-color: #202020;
    color: #fff;
    position: relative;
}
.drafting-regulations-content h1{
    margin-top: 0;
    margin-bottom: 4%;
}
img._lines{
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.drafting-regulations-content ul {
    margin: 4% 0;
}
.drafting-regulations-content ul li{
    margin: 22px 0;
    font-size: 18px;
}
img.auditing-dots{
    max-width: 80px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
img.auditing-lines{
    position: absolute;
    right: -30%;
    bottom: -6%;
    transform: rotate(180deg);
    z-index: -1;
}
.auditing-img-container{
    height: 440px;
    padding: 40px;
}
.auditing-img{
    width: 100%;
    height: 100%;
}
.auditing-content h1{
    color: #EE1F1F;
    margin-top: 0;
    margin-bottom: 8%;
}
.auditing-section-content{ 
    position: relative;
    overflow: hidden;
}
.a-entry h3 {
    font-size: 34px;
    color: #EE1F1F;
    margin: 8px 0;
    padding-bottom: 40px;
}
.list-item p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}
.list-item {
    padding: 80px 0;
}
.activity-entry,
.activity-desc {
    padding: 20px 0;
}
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- undefined -----------------*/
/*----------------- E-ROOM PAGE -----------------*/
.poz-b-l{
    position: absolute;
    left: 0;
    bottom: 0;
}
.poz-t-r{
	position: absolute;
	right: 0;
	top: 0;
}
.square{
	width: 120px;
	height: 120px;
}
.square-red{
	background-color: red;
	z-index: -1;
}
.e-room-container{
	padding: 20px;
}
.e-room-shape{
	z-index: -1;
}
.e-pg-content{
	column-count: 2;
}
.e-room-content{
	padding: 62px 0px;
}

.img-video-shape {
	z-index: -1;
}

.video-container {
	max-width: 840px;
	margin: 0 auto;
	padding: 64px;
	position: relative;
}

.video {
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	width: 100%;
}

.video-iframe {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.event-title{
    color: #EE1F1F;
    text-align: center;
    font-weight: 400;
    margin: 20px 0;
    font-size: 28px;
}
.event-content{
	text-align: center;
	color: #303030;
}
.event-date{
    margin: 0 auto;
    padding: 20px 0px;
    max-width: 600px;
    min-height: 200px;
}
.hr{
	border: 1px solid #95989A;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 32px;
	max-width: 70%;
}
.slick-prev{
	position: absolute;
	top: 25%;
	left: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 30px;
	background-image: url('../images/preview-videos.png');
	background-color: #fff;
	border: none;
	width: 50px;
	height: 50px;
	text-indent: -999999px;
	z-index: 9999;
	outline: 0;
}
.slick-next{
	position: absolute;
	top: 25%;
	right: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 30px;
	background-image: url('../images/next-videos.png');
	background-color: #fff;
	border: none;
	width: 50px;
	height: 50px;
	text-indent: -999999px;
	z-index: 9999;
	background-color: #fff;
	border: none;
	outline: 0;
}
.e-event-videos{
	padding-bottom: 64px;
}
.video-item{
	outline: 0;
}
.slick-dots{
	display: none!important;
}
/*about-the-project*/
h1.title {
	color: #EE1F1F;
	font-size: 28px;
	padding-left: 42px;
	padding-bottom: 16px;
	font-weight: 500;
}
.info-item p {
	font-size: 15px;
	min-height: 140px;
	font-weight: 500;
}
.info-description {
	padding-left: 32px;
}
/*About Activities*/

.components {
	font-size: 19px;
	font-weight: 100;
	text-transform: uppercase;
	color: #F6F6F6;
	text-align: center;
	margin-top: 20px;
}
.components-counter {
	text-align: center;
	font-size: 100px;
	color: #F6F6F6;
}
/*.inner-content {
	background-color: red;
    width: 180px;
	height: 180px;
    position: absolute;
    top: -10%;
}*/
.a-img .objective {
	margin-left: 0;
	margin-bottom: -12%;
}
.red-event-shape {
	position: absolute;
    bottom: -20px;
	right: 20px;
	max-width: 100px;
	height: auto;
}
.list-item:nth-child(4) {
	padding-top: 100px;
}
/*----------------- BREAKPOINTS / MEDIA QUERIES -----------------*/
@media( max-width: 1024px ) {
    .members, .other-members{ 
        padding: 0 10px!important;
    }
    .activity-item{ 
        padding: 0 20px!important;
    }
    .activity-slider ul.slick-dots{ 
        display: none!important;
    }
    .inner-pr-component h2{
        font-size: 18px; 
        }
    .objective h1{ 
        font-size: 80px; 
    }
    .count-components p{ 
        margin-left: 0; 
    }
    .objective-4 span,
    .objective-2 span{ 
        font-size: 30px; 
    }
    .objective{ 
        width: 160px; 
        height: 160px; 
    }
    .objective-4{ 
        padding: 40px 0; 
    }
    .result-item{ 
        margin-bottom: 8px; 
    }
    img.obj-lines{ 
        display: none; 
    }
    .objectives h5{ 
        margin: 40px 0 30px 0; 
    }
    h2.obj-title{ 
        font-size: 24px; 
    }
    .nr, 
    .cat, 
    .desc{  
        font-size: 16px; margin: 10px 0; 
    }
    .data-item:nth-child(2n){ 
        margin: 8px 0; 
    }
    .data-item-title p{ 
        font-size: 20px; 
    }
    .data-table{ 
        padding: 40px 0; 
    }
    .page-content{ 
        padding-top: 0; 
    }
    .page-img{ 
        height: 520px; 
    }
    img.two-squares{ 
        display: none; 
    }
    .page-template-about-project .section-title:after{ 
        width: 86%; 
    }
    .parties-banner{ height: 220px; }
    .item-parties{ margin: 40px 0; }
    .slide-lines,
    .fr-item:nth-child(5):after,
    .slide-dots img{ display: none!important; }
    .finance-content h2{ margin: 28px 0 20px 0; }
    .finance-content ul li{ margin: 6px 0; }
    .other-frameworks,.framework,.legal-framework{ width: 50%; }
    .f-img{ padding: 40px 14%; }
    .fr-item:nth-child(2), .fr-item:nth-child(6), 
    .fr-item:nth-child(8){ padding-left: 0; }
    .dots-container , img.auditing-lines { display: none; }
    .slide-content h2{ font-size: 32px; }
    .item{ height: 520px; }
    .pr-activities-desc{ 
        padding-bottom: 0; 
        font-size: 22px; 
    }
    /* site */
    .inner-content {
		width: 140px;
		height: 140px;
	}
	.components-counter {
		font-size: 66px;
	}
	.components {
		font-size: 18px;
	}
    /* /site */
}

@media( max-width: 991px ){
    .footer-social a{ margin-right: 14px; }
    .about-img-container{ 
        padding: 0; 
        height:460px;
    }
    .hm-section{ padding: 20px 0;}
    #primary-menu{ display: none!important; }
    .slick-prev,.slick-next,.pr-component:nth-child(1):after,
    .pr-component:nth-child(2):after,
    .pr-component:nth-child(3):after,
    .pr-component:nth-child(4):after,
    .pr-component:nth-child(5):after{ display: none!important; }
    .menu-btn{ height: 100px!important; }
    section.home-survey-result .section-title:after,
    .activity-slider ul.slick-dots{ display: none!important; }
    section.home-survey-result .section-title,
    .home-legal-framework .section-title,
    .home-room,
    .home-photos-videos .section-title,
    .home-project-activities{ padding-top: 0!important; }
    button.slick-next.slick-arrow,
    .home-project-activities:after,
    section.home-financial-report .section-title:after,
    .count-components{ 
        display: none!important; 
    }
    .tb-padd{ 
        padding-top: 20px; 
        padding-bottom: 4%; 
    }
    .page-content ,
    .page-img{ 
        width: 100%; 
    }
    .fr-short-description img,
    img.fr-dots,.fr-item:nth-child(4):after,
    img.fr-squares,.fr-item:nth-child(6):after,
    .fr-item:nth-child(7):after{ display: none; }
    .fr-item:nth-child(6),.fr-item:nth-child(3){
        height: auto!important;
    }
    .section-title{ padding-top: 120px; }
    .f-img{ height: 420px; }
   .home-photos-videos,
   section.home-project-parties,
   .home-financial-report,
   .home-legal-framework,
   .section-padding{ padding: 80px 0; }
   .finance-content, .finance-image{ 
       width: 100%; 
       margin-top: 30px;
    }
   .section-title p{ font-size: 34px; }
   img.red-lines{ 
       width: 500px; 
       margin-top: -12px; 
    }
   .section-title h3{ font-size: 36px; }
   .section-title h4{ font-size: 22px; }
   .objective h1{ font-size: 70px; }
   .objective h6{ font-size: 18px; }
   .objective { 
       width: 160px; 
       height: 160px; 
    }
   .about-project-page img{ margin-left: 0; }
   .about-project-description{ 
       margin-top: 0; 
       padding-left: 15px; 
    }
   .about-project-description img{ display: none; }
   .projects .title p{ font-size: 20px; }
   .s-link a{ font-size: 16px; }
   .s-link a:after{ width: 100px; }
   .projects,.white-bg{ height: 200px; }
   /* .survey-page-title{ margin-top: 0; } */
   .bottom-lines,
   .big-square{ display: none; }
   .survey-page-title h4,
   .survey-page-title p{ max-width: 100%; }
   .survey-page-img{ 
       height: 420px; 
    padding: 20px 0; 
}
   .survey-description{ padding-left: 0; }
   .survey-title p{ 
       font-size: 24px; 
       height: 180px;
    }
   .home-about-video{ 
       margin-left: 0; 
       margin-top: 0; 
       height: 300px; 
    }
   /*.photo-gallery{ height: 300px; }*/
   .framework-img-title h4{ font-size: 16px; }
   .colored-bg a, 
   .colored-report-bg a { 
       padding: 14px 5px; 
       font-size: 14px; 
    }
   .financial-img { 
       float: none; 
       margin: 0 auto; 
    }
   img.red-sq { display: none; }
}

@media( max-width: 767px ){
    /* site */
    .e-pg-content{
		column-count: unset;
	}
	.video-container{ padding: 0;}
	.event-title{ font-size: 24px;}
	.list-item p {
		font-size: 14px;
	}
	.a-entry h3 {
		font-size: 26px;
	}
    /* /site */
    .navbar-header {
        display: none!important;
    }
    .objective-2,
    .second-objective .container-fluid,
    .framework-entry,
    .objectives{ padding: 0; }
    .f-img{ padding: 40px 0; }
    .count-component{ margin: 8px 0; }
    img.survey-shape,
    .scrollToTop{ display: none;}
    .item-parties:nth-child(2n) .partie-description{ border-right: none;}
    .item-parties:nth-child(2n+1) .partie-description{ 
        border-left: none; 
        padding-left: 0;
    }
    .partie-description{ 
        padding-left: 0; 
        padding-right: 0;
    }
    .objective-img .objective{ 
        margin-top: -32%;
    }
    .page-content p{ 
        max-width: unset; 
        text-align: justify;
    }
    .page-content h4{ margin-top: 20px;}
    .navbar-brand{ position: relative; }
    .menu-primary-container,
    .menu-primary-sq-container{ padding-top: 0; }
    .overlay-content ul{ padding-left: 0; }
    .menu-primary-container ul li a,
    .menu-primary-sq-container ul li a{ font-size: 22px; }
    .menu-btn{ position: fixed; }
    .menu-btn{ 
        height: 80px!important; 
        width:80px!important;
    }
    .close-menu{ 
        height: 60px!important; 
        width:60px!important; 
        background-size: 24px; 
    }
    .about-project-page{ 
        padding-left: 0; 
        padding-right: 0; 
    }
    .about-project-page p{
        max-width: 100%;
        margin-left: 0;
    }
    .finance-image{ padding: 0; }
    /*section.home-survey-result .section-title,
    .home-legal-framework .section-title,
    .home-room,.home-photos-videos .section-title,
    .home-project-activities{ padding-top: 0!important; }*/
    .navbar-brand img{ position: unset; }
    #primary-menu{ 
        position: unset; 
        overflow: hidden; 
    }
    /*section title hp*/
    .home .section-title{ padding-top: 60px; }
    .slide-content h2{
        position: absolute;
        background-color: #fff;
        padding: 4%;
        right: 0;
        left: 0;
        top: 42%;
    }
    .home-slideshow{ padding-top: 120px; }
    .slide-content p{ 
        position: absolute; 
        bottom: 0; padding: 4%; 
    }
    ul.slick-dots{ 
        margin-top: 2%; 
        right: 30px; 
        left: unset; 
    }
    .content{ 
        background-color: transparent; 
        height: auto; 
    }
    .page-img{ 
        height: 420px; 
        padding: 0; 
    }
    .page-img .objective{ 
        margin-left: auto;
        margin-top: -16%;
        margin-bottom: 22px;
        width: 120px;
        height: 120px;
    }
    /* .nr{ display: none; } */
    .page-content,
    .inner-pr-component,
    .pr-component{ 
        padding-left: 0; 
        padding-right: 0; 
    }
    /*slideshow*/
    .apply{ display: none; }
    .item-parties{ margin: 20px 0; }
    .page-template-project .section-title:after{ display: none; }
    .item-parties, 
    .item-parties:nth-child(2n), 
    .count-component,
    .item-parties:nth-child(2n) .partie-description{
        padding: 0;
    }
    .partie-description h2{ font-size: 22px; }
    ._img img{ margin: 28px auto; }
    .item-parties,
    .item-parties:nth-child(2n),
    .count-component{ display: block; }
    .count-components{ display: none; }
    .home-video{ 
        margin-top: 20px; 
        padding: 0; 
    }
    .footer-logo img{ text-align: center; }
    .navbar-default .navbar-collapse{  float: none;}
    .navbar-default{  display: unset; }
    .site-header{
        position: fixed;
        background-color: #fff;
        z-index: 9999;
    }
    .navbar-toggle{ 
        margin-top: 26px; 
        margin-right: 0;
    }
    .activity-slider,
    .home-about-project{ background: none; }
    .about-project-description p{
        margin: 2% 0; 
        max-width: 100%; 
    }
    section.home-project-parties, 
    .home-financial-report, 
    .home-photos-videos,
    .section-padding{ padding: 40px 0; }
    img.grey-lines{ margin-left: 0; }
    .activity-item:nth-child(1),
    .activity-item:nth-child(3n),
    .activity-item:nth-child(3n+2){ margin-top: 0; }
    .image-cover img{ padding-left: 15px; }
    .survey-title p{
        font-size: 22px;
        max-width: 100%;
        left: 15px;
        margin-top: 0;
        margin-right: 15px;
    }
    .single-link a{ margin-left: 15px; }
    img.red-lines{ max-width: 360px; }
    .e-room-entry h2{ margin: 6% 0; }
    .footer-logo img{ margin: 0 auto; }
    .footer-menu { text-align: center; }
    .footer-social{ text-align: center; }
    .e-room-image{ height: 320px; }
    .home-legal-framework,
    .home-room{ padding: 40px 0; }
    .framework-img-title{ display: unset; }
    .title h3{ font-size: 22px; }
    .framework-img-title img{ margin-top: 22px; }
    img.obj-dots,img.small-square{ display: none; }
    .page-template-about-project .section-title:after,
    .objective-4{ background: none; }
    .objective-4 span, .objective-2 span{ font-size: 28px; }
    .development-objectives,.data-item-title,.data-item{ 
        padding-left: 0; 
        padding-right: 0; 
    }
    section.objective-04{ padding: 40px 0 0 0; }
    .objective-img{ height: 520px; }
    h2.obj-title{ font-size: 20px; margin: 4% 0; }
    .objective-img{  padding: 40px 0 80px 0; }
    .pr-activities-desc { 
        padding: 15px; 
        position: relative; 
        right: 0; 
    }
    .home-project-activities,
    .objective-5{ padding: 0; }
    img.auditing-lines ,img.auditing-dots ,
    img.right-top-corner , img.left-bottom-corner ,
    img._lines { display: none; }
    .auditing-img-container , .outer-container { padding: 0;}
    .auditing-img-container { margin-top: 30px; }
    .contains-img { padding: 0; height: 320px; }
    .assistence-content h1 , .drafting-regulations-content h1 ,
    .auditing-content h1 { font-size: 24px; }
    .assistence-content p , .assistence-item p ,
    .drafting-regulations-content p ,.drafting-regulations-content ul li ,
    .auditing-section-content p{ font-size: 14px; }
    .drafting-regulations-content { padding-bottom: 0; }
    .second-section, .third-section, .forth-section { padding: 40px 0; }
    img.fin-img { width: auto; }
    .finrep-page-entry { column-count: auto; }
    .finrep-page-entry p:nth-child(3) { padding-top: 0; }
    .colored-bg, .colored-report-bg { margin: 6% 0; padding: 30px; }
    .u-download-reports h2, .p-download-reports h2 { padding-left: 0; }
    .u-download-reports ,.p-download-reports { min-height: 0; }
    .finrep-page-content { margin-top: 30px; }
    .user-finrep .tb-padd , 
    .prepares-finrep .tb-padd { 
        padding-top: 0; 
        padding-bottom: 0; 
    }
    .prepares-finrep { padding: 0; }

    .list-item:nth-child(2n) .activity-content {
        display: block;
    }

}

@media( max-width: 480px ){
    /* site-firep */
    .inner-content {
		width: 116px;
		height: 116px;
	}
	.components-counter {
		font-size: 54px;
	}
	.components {
		font-size: 14px!important;
    }
    /* /site-finrep */
    .event-title,
    .e-room-entry h4{ font-size: 18px; }
    .activity-item{ 
        padding-left: 0; 
        padding-right: 0; 
    }
    h2.obj-title{ font-size: 18px; }
    .objectives h5{ 
        margin: 0 0 20px 0; 
        font-size: 18px; 
    }
    .objective-4 span, .objective-2 span{ font-size: 20px; }
    .objective{ 
        height: 140px; 
        width: 140px; 
    }
    .page-content h4{ font-size: 24px; }
    .inner-pr-component h2{ font-size: 16px; }
    .inner-pr-component p{ font-size: 14px; }
    .parties-banner{ height: 180px; }
    ._img img{ margin: 20px auto; }
    .first-objective,
    .list-project-parties{ 
        padding-left: 0; 
        padding-right: 0; 
    }
    .partie-description h2{ font-size: 18px; }
    .fr-item-content p{ font-size: 14px; }
    .fr-item-content h2{ font-size: 18px; }
    .fr-item-content h2{ margin: 10px 0; }
    .fr-item{ padding: 20px 0; }
    section.framework-items{ padding: 40px 0; }
    .fr-short-description p,
    .framework-entry h3{ font-size: 18px; }
    .f-img{ height: 320px; padding: 20px 0; }
    .fotorama__stage{ width: 100%; }
    .other-frameworks, 
    .framework, 
    .legal-framework{ padding: 0; }
    /*.framework-img-title{ display: flex; }*/
    .single-link a{ margin-left: 0; }
    .survey-page-img{ height: 320px; }
    .projects .title p{ font-size: 18px; }
    .s-link a{ font-size: 14px; }
    .about-project-description{ padding: 0; }
    .other-frameworks, 
    .framework, 
    .legal-framework{ width: 100%; }
    .e-room-image{ 
        padding: 20px 0; 
        height: 320px;
    }
    img.e-shape,
    img.e-top-shape{ display: none; }
    .photo-gallery{ padding: 4% 0 4% 0; }
    .framework-img-title h4{ margin: 16px 0; }
}
@media( max-width: 460px ){
   .slide-content p, 
   .single-link a,
   .title p,
   .f-content p{ font-size: 14px; }
   .title h3{ font-size: 18px; }
   .section-title p{ font-size: 22px; }
   img.red-lines{ max-width: 280px; }
   .section-title h4{ font-size: 18px; }
   .objective{ width: 120px; height: 120px; }
   .finance-content h2{ font-size: 18px; }
   .finance-content ul{ padding-left: 15px; }
   .finance-content ul li{ margin: 8px 0; }
   .e-room-entry h2,
   .survey-page-title h4{ font-size: 22px; }
   .e-room-entry{ 
       padding-left: 0; 
       padding-right: 0; 
    }
   .slide-content h2{ 
       font-size: 22px; 
       margin: 17% 0; 
    }
}
.event-description img{ 
    margin: 0 auto!important;
}
.dots-container{ display: none; }

.list-item:nth-child(2) {
    background-color: #F6F6F6;
}
.list-item:nth-child(n+2) .red-event-shape{
    display: none;
}
.a-img {
    position: relative;
}

.list-item:nth-child(3) .count-objective {
    display: none;
}
.list-item:nth-child(3) {
    background-color: #202020;
    color: #FFFFFF;
    line-height: 30px;
}
.a-entry:nth-child(3) p {
    color: #FFFFFF;
}
..language-items span {
    font-size: 14px;
}
/* .list-item:nth-child(3) .activity-content {
    position: relative;
}
.list-item:nth-child(3) .activity-content::after {
    content: '';
    background-image: url('../images/grey-lines.png');
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 120px;
    z-index: 200;
} */