@font-face {
  font-family: 'Playfair Display';
  src: url('playfairdisplay-regular.eot');
  src: url('playfairdisplay-regular.woff2') format('woff2'),
       url('playfairdisplay-regular.woff') format('woff'),
       url('playfairdisplay-regular.ttf') format('truetype'),
       url('playfairdisplay-regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}