@font-face {
  font-family: 'Didot-Regular';
  src: url('Didot Regular.eot');
  src: url('Didot Regular.woff2') format('woff2'),
       url('Didot Regular.woff') format('woff'),
       url('Didot Regular.ttf') format('truetype'),
       url('Didot Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

